*{
    padding: 0;
    margin: 0;
}

/*引入外部字体*/
@font-face {
    font-family: 'BebasNeue-webfont';
    src: url('../fonts/BebasNeue-webfont.ttf')
}

a{
    text-decoration: none;
    color: white;
}

body{
    background: url("../imgs/pattern.gif");
    /*字体*/
    font-family: BebasNeue-webfont;
    margin-top: 50px;
}

#top{
    position: fixed;
    top:0;
    background: url("../imgs/pattern.gif");
    width: 100%;
    padding-bottom: 30px;
}

#header{
    background-color: red;
    height: 3px;
}

#nav{
    text-align: center;
}
#nav ul{
    display: inline-block;
}
#nav ul li{
    display: inline-block;
}
#nav ul li a{
    display: inline-block;
    width: 210px;
    height: 48px;
    line-height: 48px;
    font-size: 35px;
    margin: 0 8px;
}
#nav ul li a.selected, #nav ul li a:hover{
    background-color: white;
    color: black;
}

#list {
    background-color: white;
    margin-top: 100px;
    text-align: center;
}
#list .love{
    width: 382px;
    display: inline-block;
    text-align: left;
    margin: 20px;
}
#list .love a{
    background-color: orange;
    display: inline-block;
    width: 120px;
    height: 35px;
    border-radius: 5px;
    font-size: 25px;
    text-align: center;
    line-height: 35px;
}
#list .love a:hover{
    background-color: black;
}
#list .love p{
    font-family: sans-serif;
    margin: 7px 0;
    /*首行缩进*/
    text-indent: 30px;
}

/*尾部*/
#footer{
    text-align: center;
}
#footer h2{
    color: white;
    font-size: 35px;
    margin: 8px 0;
}
#footer ul, #footer ul li{
    display: inline-block;
}
#footer ul li img{
    margin: 0 3px 10px;
}
#footer ul li img:hover{
    opacity: 0.7;
}

/*自适应布局*/
@media screen and (max-width: 1095px){
    #nav ul li a{
        width: 150px;
    }
}
@media screen and (max-width: 844px){
    #nav ul li a{
        width: 60px;
        height: 30px;
        line-height: 30px;
        font-size: 15px;
    }
    #list {
        margin-top: 30px;
    }
    #list .love{
        width: 360px;
    }
    #list .love img{
        width: 355px;
    }
}












